<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work Test</title>
    @Html.Partial("_ScriptsSource")

    @Html.Partial("_Styles")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    @RenderBody()
                    <script src="~/Tools/js/main.js"></script>
                </div>
            </section>
        </div><!-- /.box -->

        @Html.Partial("_Footer")

        @Html.Partial("_ControlSidebar")
    </div>
   
</body>


</html>

